.flex-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}



/*@media print {*/
/*    html, body {*/
/*        height: initial !important;*/
/*        overflow: initial !important;*/
/*        -webkit-print-color-adjust: exact;*/
/*    }*/
/*}*/

/*@media print {*/
/*    .page-break {*/
/*        display: block;*/
/*        page-break-before: auto;*/
/*    }*/
/*}*/

@page {
    size: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.totalMobile {
    display: none;
}
.totalDesktop {
    display: block;
}

@media screen and (max-width: 768px) {
    .totalMobile{
    display: block;
        text-align: left;
    }
    .totalDesktop{
        display: none;
    }
}